{% sw_extends '@Storefront/storefront/layout/footer/footer.html.twig' %}

{% set theme = config('ZmbGoogleCustomerReviews.config.theme') %}
{% set position = config('ZmbGoogleCustomerReviews.config.position') %}
{% set float = config('ZmbGoogleCustomerReviews.config.float') %}

{% block layout_footer_navigation_columns %}
    {{parent()}}

    {% if position == "new-column" %}
        <div class="col-md-4 footer-column js-footer-column">
            <div class="footer-column-headline footer-headline">
                &nbsp;
            </div>
            <div class="footer-column-content">
                <div class="footer-column-content-inner">
                    {% sw_include '@ZmbGoogleCustomerReviews/storefront/pro-customer-reviews/components/badge.html.twig' %}
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block layout_footer_navigation_information_links %}
    {{parent()}}

    {% if position == "footer-nav" and loop.last %}
    {% endif %}
{% endblock %}

{% block layout_footer_shipping_logos %}
    {{parent()}}

    {% if position == "shipping-payment" %}
    {% endif %}
{% endblock %}

{% block layout_footer_copyright %}
    {% if position == "copyright-before" %}
        <div class="footer-copyright" style="margin-bottom: 16px">
            {% sw_include '@ZmbGoogleCustomerReviews/storefront/pro-customer-reviews/components/badge.html.twig' %}
        </div>
    {% endif %}

    {{parent()}}

    {% if position == "copyright-after" %}
        <div class="footer-copyright" style="margin-top: 16px">
            {% sw_include '@ZmbGoogleCustomerReviews/storefront/pro-customer-reviews/components/badge.html.twig' %}
        </div>
    {% endif %}
{% endblock %}
